.leader-marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.leader-track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: leaderScroll 25s linear infinite;
}

.leader-marquee:hover .leader-track {
  animation-play-state: paused;
}

@keyframes leaderScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.leader-card {
  min-width: 350px;
  padding: 80px;
  text-align: center;
  border-radius: 30px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.08);
  transition: all .4s ease;
}

.leader-card:hover {
  transform: translateY(-10px);
  border-color: rgba(250,204,21,.4);
  box-shadow: 0 15px 40px rgba(250,204,21,.15);
}
.logo-animation {
  animation: logoPop 3s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.logo-animation:hover {
  transform: scale(1.12);
}

/* Keyframes */
@keyframes logoPop {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1.08);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.12);
  }

  100% {
    transform: scale(0.9);
 
  }
  
}